<%- include('../header')%>

<a href="/categoria/nova" class="btn btn-info">Nova categoria</a> <br> <br>

<table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
    <% categorias.forEach(categoria => { %>
      <tr>
        <th><%= categoria.categoria %></th>
        <td><a href="/categoria/editar/<%= categoria.id%>" class="btn btn-primary">Editar</a> <a href="/categorias/excluir/<%= categoria.id%>" class="btn btn-dark">Excluir</a></td>
      </tr>
    <% }) %>         
    </tbody>
</table>


<%- include('../footer')%>